body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
  }
  
  .app-container {
    padding: 20px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  