.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    width: 600px;
    background: #fff;
    padding-bottom: 30px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: #3c009d;
    font-size: 48px;
    font-weight: 700;
}

.underline{
    width: 61px;
    height: 6px;
    background: #3c009d;
    border-radius: 9px;
}

.inputs {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 400px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;

}

.input img{
    margin: 0px 30px;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.forgot-pass{
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
}

.forgot-pass span{
    color: #4c00b4;
    cursor: pointer;
}

.submit-container {
    display: flex;
    gap: 30px;
    margin: 60px auto;
    padding-left: 30px;
    padding-right: 30px;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;   
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.gray{
    background: #EAEAEA;
    color: #676767;
}





.loginPage{
    height: 100vh;
    width: 100%;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 7px 50px rgb(214, 233,213);

    .container{
        height: 75vh;
        width: 60%;
        margin: auto;
        justify-content: space-between;
        background: hsl(0, 0%, 91%);

    }
    
    .imgDiv {
        display: flex;
        flex-basis: 50%;
        width: 70%;
        height: 100%;
        padding: 0 1.5rem;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        margin: auto;
        border-radius: 10px;
        overflow: hidden;

        img, .footerDiv {
            position: absolute;
        }
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }

        .textDiv{
            position: relative;

            .title{
                color:azure;
                font-size:  35px;
                font-weight: 800;
            }

            p{
                color:azure;
                padding: 1rem;
                font-weight: 400;
            }
        }


        .footerDiv{
            bottom: 10px;
            padding: 0 1rem;
            height: 60px;
            background: rgba(255, 255, 255, 0.248);
            left: 0;
            right: 0;
            justify-content: space-between;
            backdrop-filter: blur(1px);
            border-radius: 10px;

            .text {
                color:azure;
            }

            .btn{
                background: azure;
                color:azure;
                padding: .8rem 1.5rem;
                border-radius: 10px;
                font-weight: 400;
                transition: .3s ease;

                &:hover{
                    background-color: azure;
                    color: azure;
                }
            }
        }
        
    }
    
    .formDiv{
        flex-basis: 50%;
        margin: auto;
        flex-direction: column;
        gap: 1.5rem;
        transition: translate-y-1rem;

        .headerDiv{
            text-align:center;
            padding: 1.5rem 0;

            img{
                width: 60;
                padding-bottom: .5rem;
            }

            h3{
                font-size: 25px;
                color:darkslategray;
                font-weight: 600;
            }
        }

        .form{
            gap: 1rem;

            .inputDiv{
                .icon{
                    color:#676767;
                }

                input{
                    background-color: none;
                    outline: none;
                    border: none;
                    width:200px;
                }

                label{
                    color:black;
                    font-weight: 400;
                    font-size: 14px;
                    padding: .5rem 0;
                    display: block;
                }
            }
        }
    }
}
